.courses-container {
  font-family: 'Georgia', serif;
  padding: 80px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 40px; /* הוספת רווח של 40px בין הכרטיסים */
  height: fit-content;
  background: linear-gradient(135deg, #f0f0f0, #e8e8e8);
}

mat-card {
  border-radius: 30px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.9);
  padding: 80px;
  margin: 0; /* הסרת מרווחים מיותרים */
  border: 1px solid #d0d0d0;
  font-family: 'Georgia', serif;
  width: 100%;
}

mat-form-field {
  width: 100%;
  margin-bottom: 40px;
  font-size: 22px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

button[mat-button],
button[mat-raised-button] {
  border-radius: 16px;
  padding: 22px 44px;
  background: linear-gradient(135deg, #ffc107, #ffc107);
  color: white;
  font-size: 22px;
  border: none;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  margin: 0 15px;
}

button[mat-button]:hover,
button[mat-raised-button]:hover {
  transform: translateY(-10px);
  background: linear-gradient(135deg,#ffc107, #ffc107);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3);
}

body {
  background: linear-gradient(135deg, #f0f0f0, #e8e8e8);
  font-family: 'Georgia', serif;
}

h2, h3, h4, .course-title {
  margin-bottom: 30px;
  color:#ffc107;
  font-size: 28px;
  text-align: center;
}

p {
  line-height: 2.4;
  color: #555;
  font-size: 22px;
}