mat-card {
  border-radius: 30px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
  border: 2px solid #03a9f4;
  padding: 80px;
  max-width: 500px;
  margin: 20px auto; /* מרכוז */
}

h2 {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 50px;
  color: #03a9f4;
  letter-spacing: 1.5px;
  text-align: center;
  position: relative;
}

h2::before,
h2::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 2px;
  background-color: #03a9f4;
  top: 50%;
  transform: translateY(-50%);
}

h2::before {
  left: -70px;
}

h2::after {
  right: -70px;
}

mat-form-field {
  width: 100%;
  margin-bottom: 30px;
  font-size: 18px;
}

button[mat-button],
button[mat-raised-button] {
  padding: 18px 36px;
  font-size: 20px;
  border-radius: 12px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border: 2px solid #03a9f4;
  background: linear-gradient(135deg, #03a9f4, #8fd9fb);
  color: #333;
  font-weight: 400;
  margin-top: 20px;
}

button[mat-button]:hover,
button[mat-raised-button]:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
  background: linear-gradient(135deg,  #03a9f4,  #8fd9fb); 
}

body {
  background: #f5f5f5;
  font-family: 'Georgia', serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.lesson-container {
  margin-bottom: 15px;
}

.lesson-container > div {
  margin-bottom: 10px;
  border: 1px solid #eee;
  padding: 10px;
  border-radius: 5px;
}